<!doctype html>
<html lang="en" data-ng-app="App">
    <head>
        <meta charset="UTF-8">
        <title>Nieuws App!</title>
        
        <!--Ionic Libs-->
        <link rel="stylesheet" href="lib/ionic/css/ionic.css">
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        
        <script src="cordova.js"></script>
        
        <!--My app-->
        <link rel="stylesheet" href="css/style.css">
        <script src="js/app.js"></script>
        
    </head>
    <body data-ng-controller="AppCtrl">
        <ion-header-bar class="bar-balanced">
            <h1 class="title">Niews App!</h1>  
        </ion-header-bar>
        <ion-content>
            <ion-refresher on-refresh="refresh()"></ion-refresher>
            <div data-ng-show="!posts.length">
                <br><br>
                <center>
                    <h3>Pull to Refresh</h3>
                </center>
            </div>
            <div class="card list" data-ng-repeat="p in posts">
                <div class="item item-avatar-left">
                    <img data-ng-src="{{ p.author.avatar }}" alt="">
                    <p> Poster user name <a href="{{ p.author.URL }}">{{ p.author.nickname }}</a></p>
					<h2> Registered: {{ p.author.registered }}</h2>

                </div>
				
                <div class="item item-body">
                    <h1>{{ p.title }}</h1>
                    <div data-ng-bind-html="p.content"></div>                    
                </div>
            </div>
        </ion-content>
    </body>
</html>